body {
    font-family: 'DM Sans', sans-serif;
}

.container {
    display: block;
    height: 100%;
}

.first-section {
    background: linear-gradient(180deg, #E4EFFF 0%, rgba(228, 239, 255, 0.6) 92.51%, rgba(228, 239, 255, 0) 100%);
}

.stretch {
    margin: 0;
}

.parent-container {
    display: table;
    width: 100%;
}

.container.stretch {
    display: table-cell;
}

.content {
    width: 100%;
}

.logo {
    font-family: 'DM Sans', sans-serif;
    color: #193766;
    font-weight: bold;
    font-size: 14px;
}

.icons>a {
    color: rgba(0, 21, 51, 0.6);
    font-size: 14px;
}

.download-button {
    background: #FFFFFF;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 25px;
    color: #3B82F6;
}

.header-active {
    font-weight: 600;
}

.heading {
    font-size: 64px;
}

.column-content {
    color: #697B98;
    font-size: 22px;
}

.download-now {
    background: #3B82F6;
    box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
    border-radius: 6px;
    padding: 20px 30px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.see-in-action  {
    background: #C6DBFF;
    border-radius: 6px;
    padding: 20px 30px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .header {
        flex-direction: column;
    }

    .icons {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .icons>a {
        padding: 5px;
    }
}